extends layout
block contenido
     
     main.contenedor  
      h1 Nuestros Productos
      div.grid 
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/1.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Vue Js
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/2.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Angular Js
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/3.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre React Js
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/4.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Redux
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/5.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Node Js
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/6.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Sass
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/7.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre HEML5
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/8.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre GitHub
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/9.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Bulma
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/10.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre TypeScripts
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/11.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre Drupal
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/12.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre JavaScripts
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/13.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre GrapQl
          p.producto__precio $25
       div.producto 
        a(href="/producto") 
         img( class="producto__imagen" src="img/14.jpg", alt="imagen camisa")
         div.producto__informacion 
          p.procucto__nombre WordPress
          p.producto__precio $25

       .grafico.grafico--camisas 
       .grafico.grafico--node 
        
     