extends layout
block contenido
     
     
     main.contenedor  
      h1 Nosotros
      .nosotros 
       .nosotros__contenido 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, corrupti, itaque recusandae maxime veniam consequuntur officiis commodi doloribus fuga cum assumenda aperiam soluta doloremque incidunt velit! Aspernatur, unde totam! consequuntur officiis commodi doloribus fuga cum assumenda aperiam soluta doloremque incidunt velit! Aspernatur, unde totam! consequuntur officiis commodi doloribus fuga cum assumenda aperiam soluta doloremque incidunt velit! Aspernatur, unde totam!
       
       img(src="img/nosotros.jpg", alt="Imagen Nosotros" class="nosotros__imagen")

     section.contenedor.comprar 
      h2.comprar__titulo ¿Porqué comprar con nosotros ?

      .bloques
       .bloque 
        img(class="bloque__imagen" src="img/icono_1.png", alt="porque comprar")
        h3.bloque__titulo El mejor Precio
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, corrupti, 
       .bloque 
        img(class="bloque__imagen" src="img/icono_2.png", alt="porque comprar")
        h3.bloque__titulo Para Devs
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, corrupti, 
       .bloque 
        img(class="bloque__imagen" src="img/icono_3.png", alt="porque comprar")
        h3.bloque__titulo Envío Grátis
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, corrupti, 
       .bloque 
        img(class="bloque__imagen" src="img/icono_4.png", alt="porque comprar")
        h3.bloque__titulo La mejor Calidad
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, corrupti, 